body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input,
button {
  font-family: "DM Sans", sans-serif;
}

.capitalize {
  text-transform: capitalize;
}
